@import "../../dark01/src/App.scss";
@import "../src/Pages/Home/Home.scss";
@import "../src/Components/Card/Card.scss";

//COLOR PALETTE
$bgColor: black;
$primaryColor: whitesmoke;
$secondaryColor: #333;  

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: $bgColor;
  color: $primaryColor;
  font-family: monospace;
}

