@import "../../dark01/src/App.scss";
@import "../src/Pages/Home/Home.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(23, 22, 22);
  color: whitesmoke;
  font-family: monospace;
}